@model Account
@{
    ViewData["Title"] = "Statements";
}

<div>

    <h3>Your Accounts</h3>

    @*change this to show as dropdown box*@
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AccountStatement">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <select id="myAccount" name="MyAccountNumber" class="form-control" asp-for="AccountNumber" asp-items="@ViewBag.AccList" required>
                        <option value="">Select An Account</option>
                    </select>
                    @Html.ValidationMessage("AccountNumber", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Select" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Accounts</a>
</div>
